@model SelfAplication.ViewModels.CharacterListViewModel

@foreach(var character in Model.Characters)
{

<div id="container">
    <div id="logo">
        <h3>Postać</h3>
    </div>
     <div id="nav">
        <h1>@character.BasicName LVL:@character.BasicLvl</h1>
     </div>
     <div id="content">
        
        <p>POZIOM: @character.BasicLvl</p>
        <p>RASA:   @character.BasicRace</p>
        <p>KLASA:  @character.BasicClass</p>
        <p>OPIS oraz HISTORIA POSTACI:</p>
        <br />
        @character.AdvancedCharacterDesc
        <br />
        <p>WOLA: @character.AdvancedWill</p>
        <p>BAZOWY ATAK: + @character.AdvancedBaseAtk</p>
        <p>W ZWARCIU: + @character.AdvancedMeleAtk</p>
        <p>NA DYSTANS: + @character.AdvancedRangedAtk</p>
        <p>UNIKI: @character.AdvancedDodge</p>
        <p>Punkty Umiejętności: @character.AbilitiesPoints</p>

        <p>SIŁA: @character.StatStrenght</p>
        <p>INTELIGENCJA: @character.StatInteligence</p>
        <p>ZRĘCZNOŚĆ: @character.StatDexterity</p>
        <p>MĄDROŚĆ: @character.StatWisdom</p>
        <p>BUDOWA: @character.StatConstitution</p>
        <p>CHARYZMA: @character.StatCharisma</p>

        <p>umj. Kontenctracja: @character.AbilityConcetration</p>
        <p>umj. Alchemia: @character.AbilityAlchemy</p>
        <br />
        <p>ZAWARTOŚĆ PLECAKA:</p>
        <p>@character.Inventory</p>

        <p>ZŁOTO: @character.Gold</p>
        <a asp-controller="Home" asp-action="Finish" asp-route-id="@character.Id">Zakończ</a>
    </div>

    <div id="side"> COŚ PO PRAWEJ STRONIE </div>
    <div id="footer"> COŚ NA DOLE STRONY-FOOTER </div>

</div>


}
